<nav class="navbar navbar-expand-xxl navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('site_bp.index_route') }}"><img
                src="{{ url_for("static", filename="images/logo.png") }}" alt="Universidad de Burgos"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if active_page == 'inicio' else '' }}"
                       href="{{ url_for('site_bp.index_route') }}">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Mantenimiento académico
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <li><a class="dropdown-item {{ 'active' if active_page == 'centros' else '' }}"
                               href="{{ url_for('centro_bp.index_route') }}">Centros</a></li>
                        <li>
                            <a class="dropdown-item {{ 'active' if active_page == 'titulaciones' else '' }}"
                               href="{{ url_for('titulacion_bp.index_route') }}">Titulaciones</a>
                        </li>
                        <li>
                            <a class="dropdown-item {{ 'active' if active_page == 'asignaturas' else '' }}"
                               href="{{ url_for('asignatura_bp.index_route') }}">Asignaturas</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Mantenimiento de profesorado
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        <li>
                            <a class="dropdown-item {{ 'active' if active_page == 'docentes' else '' }}"
                               href="{{ url_for('docente_bp.index_route') }}">Docentes</a>
                        </li>
                        <li>
                            <a class="dropdown-item {{ 'active' if active_page == 'plazas' else '' }}"
                               href="{{ url_for('plaza_bp.index_route') }}">Plazas</a>
                        </li>
                        <li>
                            <a class="dropdown-item {{ 'active' if active_page == 'contratos' else '' }}"
                               href="{{ url_for('contrato_bp.index_route') }}">Tipos de contrato</a>
                        </li>
                        <li>
                            <a class="dropdown-item {{ 'active' if active_page == 'areas' else '' }}"
                               href="{{ url_for('area_bp.index_route') }}">Áreas</a>
                        </li>
                        <li>
                            <a class="dropdown-item {{ 'active' if active_page == 'departamentos' else '' }}"
                               href="{{ url_for('departamento_bp.index_route') }}">Departamentos</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Asignación docente
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
                        <li>
                            <a class="dropdown-item {{ 'active' if active_page == 'cursos' else '' }}"
                               href="{{ url_for('curso_bp.index_route') }}">Cursos Académicos</a>
                        </li>
                        <li>
                            <a class="dropdown-item  {{ 'active' if active_page == 'grupos' else '' }}"
                               href="{{ url_for('grupo_bp.index_route') }}">Grupos/Asignatura</a>
                        </li>
                        <li>
                            <a class="dropdown-item {{ 'active' if active_page == 'horas' else '' }}"
                               href="{{ url_for('horas_bp.index_route') }}">Horas/Grupo</a>
                        </li>
                    </ul>
                </li>

                {% if can_modify %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Herramientas
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown4">
                            <li>
                                <a class="dropdown-item" href="{{ url_for('export_db') }}">Exportar base de datos</a>
                            </li>
                            <li>
                                <a class="dropdown-item {{ 'active' if active_page == 'importar' else '' }}"
                                   href="{{ url_for('import_db') }}">Importar base de datos</a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
                <li>
                    <a class="nav-link" href="{{ url_for('static', filename='manual.pdf') }}"
                       rel="noopener" target="_blank">
                        Ayuda
                    </a>
                </li>
            </ul>
            <div class="ms-auto">
                <a class="nav-link" href="{{ url_for('site_bp.logout_route') }}">Salir ({{ docente_nombre }})</a>
            </div>
        </div>
    </div>
</nav>