{% extends "base/base_template.html" %}
{% set no_menu = True %}
{% block title %}
    Página no encontrada
{% endblock %}
{% block content %}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            padding: 0;
            margin: 0;
        }
    </style>
    <div class="container-error">
        <h1 class="h1-404">Error 403 - Acceso prohibido</h1>
        <p class="p-404">No tiene permiso para acceder a esta página.</p>
        <p class="p-404">
            Vuelva a <a href="/">la página principal</a> o contáctenos si necesita ayuda.
        </p>
    </div>
{% endblock %}