{% extends "base/base_template.html" %}
{% set no_menu = True %}
{% block title %}
    Inicio de sesión
{% endblock %}
{% block content %}
    <style>
        body {
            background-color: #f8f9fa;
        }
    </style>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container">
        <img id="img-login" src="{{ url_for("static", filename="images/logo-login.png") }}" class="img-fluid mx-auto d-block" alt="Logo">
        <div class="login-container">
            <h1 class="text-center">Iniciar sesión</h1>
            <form method="POST" action="/login">
                {{ form.hidden_tag() }}
                <div class="mb-4">
                    {{ form.username.label(class="form-label") }}
                    {{ form.username(class="form-control", placeholder="Correo electrónico") }}
                    {% for error in form.username.errors %}
                        <span class="msg-error">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="mb-5">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control", placeholder="Contraseña") }}
                    {% for error in form.password.errors %}
                        <span class="msg-error">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                </div>
            </form>
        </div>
    </div>
    <footer class="text-center footer fixed-bottom bg-light">
        <div class="container">
            <hr>
            <section class="mb-2">
                <a class="btn btn-lg text-dark m-1" href="https://github.com/idg0015">
                    <i class="bi bi-github"></i>
                </a>
            </section>
        </div>
        <div id="copyright" class="text-center p-4">
            © 2023 Copyright Ignacio Dávila García
        </div>
    </footer>
{% endblock %}