{% extends "base/base_template.html" %}
{% set active_page = "docentes" %}
{% block title %}Docentes{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="container-fluid">
        <h1 class="text-center">Docentes</h1>
        {% if can_modify %}
            <div class="row">
                <div class="col-xl-10 offset-xl-2">
                    <a href="{{ url_for('docente_bp.add_route') }}" class="btn btn-primary ">Nuevo</a>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div id="tablaDocentes" class="text-center col-xl-8 offset-xl-2"></div>
        </div>
    </div>
    <script>
        let docentes = JSON.parse('{{ docentes | default([])| tojson }}');
        const hasModificationPermission = {{ can_modify | lower }};

        let columns = [
            {
                name: 'Id',
                hidden: true
            },
            {
                id: 'nombre',
                name: gridjs.html('<span title="Nombre">Nombre</span>'),
            },
            {
                id: 'apellidos',
                name: gridjs.html('<span title="Apellidos">Apellidos</span>'),
            },
            {
                id: 'email',
                name: gridjs.html('<span title="Email">Email</span>'),
            },
            {
                id: 'reducciones',
                name: gridjs.html('<span title="Reducciones">Reducciones</span>'),
                attributes: center
            },
        ];

        if (hasModificationPermission) {
            columns.push({
                name: 'Acciones',
                sort: false,
                attributes: center,
                formatter: (_, row) => gridjs.html(`<a class="icono" href="/docentes/${row.cells[0].data}"><i class="bi bi-pencil-square"></i></a> <a href="/docentes/eliminar/${row.cells[0].data}" class="icono" onclick="return confirm('¿Está seguro de eliminar el docente?')"><i class="bi bi-trash3-fill"></i></a>`)
            });
        }

        $(document).ready(function () {
            new gridjs.Grid({
                columns: columns,
                className: {
                    th: "text-center"
                },
                language: gridjs.l10n.esES,
                sort: true,
                search: true,
                resizable: true,
                pagination: {
                    limit: 10
                },
                data: docentes
            }).render(document.getElementById("tablaDocentes"));
        });
    </script>
{% endblock %}
