{% extends "base/base_template.html" %}
{% set no_menu = true %}
{% block title %}
    {% if form.nombre.data %}
        {{ form.nombre.data }}
    {% else %}
        Añadir docente
    {% endif %}
{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}


    {% if form.nombre.data %}
        <h1 class="text-center">{{ form.nombre.data }}</h1>
    {% else %}
        <h1 class="text-center">Añadir docente</h1>
    {% endif %}
    <form id="form-crear-docente" action="" method="post" novalidate class="form-centro">
        {% include 'docentes/template-form.html' %}
        <div class="text-center mt-4">
            {{ form.submit(class_="btn btn-primary") }}
        </div>
    </form>
{% endblock %}
