{% extends "base/base_template.html" %}
{% block title %}
    Añadir asignaturas curso {{ form.ano_inicio.data }} - {{ form.ano_inicio.data + 1 }}
{% endblock %}
{% block content %}
    <h1 class="text-center">Curso {{ form.ano_inicio.data }} - {{ form.ano_inicio.data + 1 }}</h1>

    <form action="" method="post" novalidate class="form-curso">
        {{ form.hidden_tag() }}
        <div class="row mb-4 mt-4">
            {#            <h2 class="text-center">Grupos <i id="icn-info-grupos" class="bi bi-info-circle-fill icon-lt" data-bs-toggle="collapse" data-bs-target="#info-grupos"></i></h2>#}
            {#            <div id="info-grupos" class="info collapse"><i class="bi bi-info-circle-fill"></i> Si introduce un número de alumnos#}
            {#                mayor que 0, se creará un grupo de teoría y un grupo de práctica por cada asiagnatura seleccionada.#}
            {#                Desde la opción del menú "Grupos" podrá modificar o añadir nuevos grupos por cada asignatura#}
            {#            </div>#}
            <h2 class="text-center">Grupos <a id="icn-info-grupos" href="#info-grupos" data-bs-toggle="collapse"><i class="bi bi-info-circle-fill icon-lt"></i></a></h2>
            <div id="info-grupos" class="info collapse"><i class="bi bi-info-circle-fill"></i> Si introduce un número de
                alumnos mayor que 0, se creará un grupo de teoría y un grupo de práctica por cada asignatura
                seleccionada. Desde la opción del menú "Grupos" podrá modificar o añadir nuevos grupos por cada
                asignatura.
            </div>

            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Presencial</h5>
                        <div class="card-text">
                            <div class="mt-3 mb-3">
                                {{ form.n_a_p.label }}
                                <div>
                                    {{ form.n_a_p(class_="form-control", value=0) }}
                                </div>

                                {% for error in form.n_a_p.errors %}
                                    <span class="msg-error">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Online</h5>
                        <div class="card-text">
                            <div class="mt-3 mb-3">
                                {{ form.n_a_o.label }}
                                <div>
                                    {{ form.n_a_o(class_="form-control", value=0) }}
                                </div>

                                {% for error in form.n_a_o.errors %}
                                    <span class="msg-error">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Inglés</h5>
                        <div class="card-text">
                            <div class="mt-3 mb-3">
                                {{ form.n_a_i.label }}
                                <div>
                                    {{ form.n_a_i(class_="form-control", value=0) }}
                                </div>

                                {% for error in form.n_a_i.errors %}
                                    <span class="msg-error">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="container-asignaturas">
            <div class="row">
                <div class="col-md-4 offset-md-2">
                    <label for="select-titulaciones">Buscar por titulación nuevas asignaturas:</label>
                    <select id="select-titulaciones" class="js-titulaciones-ajax" onchange="getAsignaturas()"></select>
                </div>
                <div class="col-md-4">
                    <label for="select-curso">Curso:</label>
                    <select disabled id="select-curso" class="form-select form-select-sm" aria-label=".form-select-sm">
                        <option selected value="0">Todos</option>
                        <option value="1">1º</option>
                        <option value="2">2º</option>
                        <option value="3">3º</option>
                        <option value="4">4º</option>
                    </select>
                </div>
            </div>

            {% for error in form.id_asignaturas.errors %}
                <span class="msg-error">{{ error }}</span>
            {% endfor %}

            <div class="row text-center mt-5 mb-3">
                <div class="col-md-6">
                    <h3>Asignaturas</h3>
                    <div class="info"><i class="bi bi-info-circle-fill"></i> Las asignaturas que arrastre al bloque de
                        la derecha serán añadidas al curso
                    </div>
                </div>
                <div class="col-md-6">
                    <h3>Asignaturas seleccionadas</h3>
                    <div class="info"><i class="bi bi-info-circle-fill"></i> Las asignaturas que arrastre al bloque de
                        la izquierda serán eliminadas de la selección
                    </div>
                </div>
            </div>

            <div class="row">
                <div id="container1" class="col-md-6">{% include 'cursos/sortable.html' %}</div>
                <div id="container2" class="col-md-6">
                    {% for asignatura in asig_actuales %}
                        <div id="asig-{{ asignatura.id }}"
                             class="el-list-asignaturas list-group-item">{{ asignatura.codigo }}
                            - {{ asignatura.nombre }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>


        <div class="text-center mt-4">
            {{ form.submit(class_="btn btn-primary") }}
        </div>
    </form>

    <script src="{{ url_for('static', filename='node_modules/sortablejs/Sortable.min.js') }}"></script>

    <script>
        const idField = document.getElementById("id_asignaturas");
        let ids = [];

        function getAsignaturas() {
            $.ajax({
                url: "/cursos/sortable",
                type: "POST",
                dataType: "json",
                data: {
                    'id_curso': {{ id_curso }},
                    'id_titulacion': $('.js-titulaciones-ajax').val(),
                    'curso': $('#select-curso').val(),
                },
                success: function (data) {
                    $('#container1').html(data);
                }
            });

            new Sortable($('#container1').get(0), {
                group: 'shared',
                animation: 150,
                multiDrag: true,
                selectedClass: 'selected',
            });
        }

        $(document).ready(function () {
            if (idField.value !== '') {
                ids = idField.value.split(',');
            }

            new Sortable($('#container1').get(0), {
                group: 'shared',
                animation: 150,
                multiDrag: true,
                selectedClass: 'selected',
            });

            $('.js-titulaciones-ajax').select2({
                ajax: {
                    locale: 'es',
                    placeholder: 'Buscar docente...',
                    minimumInputLength: 1,
                    url: '/titulaciones/ajax/get_titulaciones',
                    dataType: 'json',
                    data: function (params) {
                        return {
                            texto: params.term
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data
                        };
                    },
                    cache: true
                }
            });

            $('#select-titulaciones').on('change', function (e) {
                $('#select-curso').prop('disabled', false);
            });

            $('#select-curso').on('change', function (e) {
                getAsignaturas();
            });

            new Sortable($('#container2').get(0), {
                group: 'shared',
                animation: 150,
                multiDrag: true,
                selectedClass: 'selected',
                onAdd: function (event) {
                    if (event.items.length === 0) {
                        let idAsignatura = event.item.id.replace('asig-', '');
                        if (!ids.includes(idAsignatura)) {
                            ids.push(idAsignatura);
                        }
                    } else {
                        for (let i = 0; i < event.items.length; i++) {
                            let idAsignatura = event.items[i].id.replace('asig-', '');
                            if (!ids.includes(idAsignatura)) {
                                ids.push(idAsignatura);
                            }
                        }
                    }
                    idField.value = ids;
                },
                put: (to, from, dragEl, event) => {
                    for (let i = 0; i < to.el.children.length; i++) {
                        if (to.el.children[i].getAttribute("id") === dragEl.getAttribute("id")) {
                            console.log("already exist");
                            return false
                        }
                    }
                    return true
                },
                onRemove: function (event) {
                    if (event.items.length === 0) {
                        const index = ids.indexOf(event.item.id.replace('asig-', ''));
                        if (index > -1) {
                            ids.splice(index, 1);
                        }
                    } else {
                        for (let i = 0; i < event.items.length; i++) {
                            const index = ids.indexOf(event.items[i].id.replace('asig-', ''));
                            if (index > -1) {
                                ids.splice(index, 1);
                            }
                        }
                    }
                    idField.value = ids;
                },
            });

        });
    </script>
    <style>
        .selected {
            background-color: #c3e6cb;
        }
    </style>
{% endblock %}