{% extends "base/base_template.html" %}
{% block title %}
    Añadir curso
{% endblock %}
{% block content %}
    {% if form.ano_inicio.data %}
        <h1 class="text-center">{{ form.ano_inicio.data }}</h1>
    {% else %}
        <h1 class="text-center">Añadir curso</h1>
    {% endif %}
    <form action="" method="post" novalidate class="form-curso">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-md-3 mt-3 mb-3 col-centered">
                {{ form.ano_inicio.label }}
                <div>
                    {{ form.ano_inicio(class_="form-control") }}
                </div>

                {% for error in form.ano_inicio.errors %}
                    <span class="msg-error">{{ error }}</span>
                {% endfor %}
            </div>
        </div>

        <div class="row mb-4">
            <h2 class="text-center">Grupos</h2>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Presencial</h5>
                        <div class="card-text">
                            <div class="mt-3 mb-3">
                                {{ form.n_a_p.label }}
                                <div>
                                    {{ form.n_a_p(class_="form-control", value=0) }}
                                </div>

                                {% for error in form.n_a_p.errors %}
                                    <span class="msg-error">{{ error }}</span>
                                {% endfor %}
                            </div>

                            <div class="mt-3 mb-3">
                                {{ form.n_g_t_p.label }}
                                <div>
                                    {{ form.n_g_t_p(class_="form-control", value=0) }}
                                </div>

                                {% for error in form.n_g_t_p.errors %}
                                    <span class="msg-error">{{ error }}</span>
                                {% endfor %}
                            </div>

                            <div class="mt-3 mb-3">
                                {{ form.n_g_p_p.label }}
                                <div>
                                    {{ form.n_g_p_p(class_="form-control", value=0) }}
                                </div>

                                {% for error in form.n_g_p_p.errors %}
                                    <span class="msg-error">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Online</h5>
                        <div class="card-text">
                            <div class="mt-3 mb-3">
                                {{ form.n_a_o.label }}
                                <div>
                                    {{ form.n_a_o(class_="form-control", value=0) }}
                                </div>

                                {% for error in form.n_a_o.errors %}
                                    <span class="msg-error">{{ error }}</span>
                                {% endfor %}
                            </div>

                            <div class="mt-3 mb-3">
                                {{ form.n_g_t_o.label }}
                                <div>
                                    {{ form.n_g_t_o(class_="form-control", value=0) }}
                                </div>

                                {% for error in form.n_g_t_o.errors %}
                                    <span class="msg-error">{{ error }}</span>
                                {% endfor %}
                            </div>

                            <div class="mt-3 mb-3">
                                {{ form.n_g_p_o.label }}
                                <div>
                                    {{ form.n_g_p_o(class_="form-control", value=0) }}
                                </div>

                                {% for error in form.n_g_p_o.errors %}
                                    <span class="msg-error">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Inglés</h5>
                        <div class="card-text">
                            <div class="mt-3 mb-3">
                                {{ form.n_a_i.label }}
                                <div>
                                    {{ form.n_a_i(class_="form-control", value=0) }}
                                </div>

                                {% for error in form.n_a_i.errors %}
                                    <span class="msg-error">{{ error }}</span>
                                {% endfor %}
                            </div>

                            <div class="mt-3 mb-3">
                                {{ form.n_g_t_i.label }}
                                <div>
                                    {{ form.n_g_t_i(class_="form-control", value=0) }}
                                </div>

                                {% for error in form.n_g_t_i.errors %}
                                    <span class="msg-error">{{ error }}</span>
                                {% endfor %}
                            </div>

                            <div class="mt-3 mb-3">
                                {{ form.n_g_p_i.label }}
                                <div>
                                    {{ form.n_g_p_i(class_="form-control", value=0) }}
                                </div>

                                {% for error in form.n_g_p_i.errors %}
                                    <span class="msg-error">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="container-asignaturas">
            <div class="row">
                <div class="col-md-4 col-centered">
                    <label for="select-titulaciones">Buscar titulación</label>
                    <select id="select-titulaciones" class="js-data-example-ajax" onchange="getAsignaturas()"></select>
                </div>
            </div>

            {% for error in form.id_asignaturas.errors %}
                <span class="msg-error">{{ error }}</span>
            {% endfor %}

            <div class="row text-center mt-5">
                <div class="col-md-6"><h3>Asignaturas</h3></div>
                <div class="col-md-6"><h3>Asignaturas seleccionadas</h3></div>
            </div>

            <div class="row">
                <div id="container1" class="col-md-6">{% include 'cursos/sortable.html' %}</div>
                <div id="container2" class="col-md-6"></div>
            </div>
        </div>


        <div class="text-center mt-4">
            {{ form.submit(class_="btn btn-primary") }}
        </div>
    </form>

    {#    <script src="https://unpkg.com/gridjs/plugins/selection/dist/selection.umd.js"></script>#}
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

    <script>
        const idField = document.getElementById("id_asignaturas");
        let ids = [];

        function getAsignaturas() {
            $.ajax({
                url: "/cursos/sortable",
                type: "POST",
                dataType: "json",
                data: {'id_titulacion': $('.js-data-example-ajax').val()},
                success: function (data) {
                    $('#container1').html(data);
                }
            });

            new Sortable($('#container1').get(0), {
                group: 'shared', // set both lists to same group
                animation: 150,
                multiDrag: true,
                selectedClass: 'selected',
            });
        }

        $(document).ready(function () {
            $('.js-data-example-ajax').select2({
                ajax: {
                    locale: 'es',
                    placeholder: 'Buscar docente...',
                    minimumInputLength: 1,
                    url: '/titulaciones/ajax/get_titulaciones',
                    dataType: 'json',
                    data: function (params) {
                        return {
                            texto: params.term
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data
                        };
                    },
                    cache: true
                }
            });


            /*new Sortable($('.test').get(0), {
                group: 'shared', // set both lists to same group
                animation: 150,
                multiDrag: true,
                selectedClass: 'selected',
            });*/

            new Sortable($('#container2').get(0), {
                group: 'shared', // set both lists to same group
                animation: 150,
                multiDrag: true,
                selectedClass: 'selected',
                onAdd: function (event) {
                    if (event.items.length === 0) {
                        let idAsignatura = event.item.id.replace('asig-', '');
                        if (!ids.includes(idAsignatura)) {
                            ids.push(idAsignatura);
                        }
                    } else {
                        for (let i = 0; i < event.items.length; i++) {
                            let idAsignatura = event.items[i].id.replace('asig-', '');
                            if (!ids.includes(idAsignatura)) {
                                ids.push(idAsignatura);
                            }
                        }
                    }
                    idField.value = ids;
                    console.log(ids);
                },
                onRemove: function (event) {
                    if (event.items.length === 0) {
                        const index = ids.indexOf(event.item.id.replace('asig-', ''));
                        if (index > -1) {
                            ids.splice(index, 1);
                        }
                    } else {
                        for (let i = 0; i < event.items.length; i++) {
                            const index = ids.indexOf(event.items[i].id.replace('asig-', ''));
                            if (index > -1) {
                                ids.splice(index, 1);
                            }
                        }
                    }

                    idField.value = ids;
                    console.log(ids);
                },
            });


        });
    </script>
    <style>
        .selected {
            background-color: #c3e6cb;
        }

        .pagination-container {
            margin-top: 20px;
            display: flex;
            justify-content: center;
        }

        .pagination-container .pagination {
            margin: 0;
        }

        #container1, #container2 {
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 49%;
            min-height: 100px;
            max-height: 500px;
            overflow-y: scroll;
            padding: 5px;
        {#background-color: #e5e8eb;#} background-color: hsl(223.08deg 25.14% 92.47% / 59%);
        {#background-image: linear-gradient(76deg,hsl(223.08,25.14%,92.47%) 0,hsl(151.18,42.40%,90.76%) 100%);#}
        }

        #container1 {
            margin-right: 1%;
        }

        .el-list-asignaturas {
            padding: 5px;
            margin: 0.125rem;
            cursor: move;
            border-radius: 6px;
        }

        .col-centered {
            margin: 0 auto;
            float: none;
        }

        #container-asignaturas {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 2%;
        }

    </style>
{% endblock %}