{% extends "base/base_template.html" %}
{% block title %}
    {% if form.ano_inicio.data %}
        Curso {{ form.ano_inicio.data }}
    {% else %}
        Añadir curso
    {% endif %}
{% endblock %}
{% block content %}
    {% if form.ano_inicio.data %}
        <h1 class="text-center">{{ form.ano_inicio.data }}</h1>
    {% else %}
        <h1 class="text-center">Añadir curso</h1>
    {% endif %}
    <form action="" method="post" novalidate class="form-centro">
        {{ form.hidden_tag() }}
        <div class="mt-3 mb-3">
            {{ form.ano_inicio.label(class_="col-sm-2") }}
            <div>
                {{ form.ano_inicio(class_="form-control") }}
            </div>

            {% for error in form.ano_inicio.errors %}
                <span class="msg-error">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="text-center mt-4">
            {{ form.submit(class_="btn btn-primary") }}
        </div>
    </form>
{% endblock %}