{% extends "base/base_template.html" %}
{% block title %}
    Gestión de grupos - {{ curso_asignatura.curso.ano_inicio }} - {{ curso_asignatura.asignatura.nombre }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="{{ category }}" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="row text-center mb-5">
            <div class="col-md-4">
                <h2 class="h2-view">
                    Curso {{ curso_asignatura.curso.ano_inicio }}/{{ curso_asignatura.curso.ano_inicio|int +1}}</h2>
            </div>
            <div class="col-md-4"><h1
                    class="text-center">Gestión de grupos - {{ curso_asignatura.asignatura.nombre }}
                ({{ curso_asignatura.modalidad }})</h1>
            </div>
            <div class="col-md-4"><h2 class="h2-view">{{ curso_asignatura.asignatura.titulacion.nombre }}</h2></div>
        </div>
        {% if can_modify %}
            <div class="row">
                <div class="col-lg-10 offset-lg-2">
                    <a href="" class="btn btn-primary" data-bs-toggle="modal"
                       data-bs-target="#create-modal">Añadir
                        grupo</a>
                </div>
            </div>

        {% endif %}
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div id="tabla_grupos"></div>
            </div>
        </div>
    </div>

    {% include 'grupos/form.html' %}

    <script>
        let grupos = JSON.parse('{{ grupos | default([])| tojson }}');
        const hasModificationPermission = {{ can_modify | lower }};

        let columns = [
            {
                name: 'Id',
                hidden: true
            },
            {
                id: 'tipo',
                name: gridjs.html('<span title="Tipo">Tipo</span>'),
            },
            {
                id: 'nombre',
                name: gridjs.html('<span title="Nombre">Nombre</span>'),
            }
        ]

        if (hasModificationPermission) {
            columns.push({
                name: 'Acciones',
                attributes: center,
                formatter: (_, row) => gridjs.html(`<a href="/grupos/eliminar/${row.cells[0].data}" class="icono" onclick="return confirm('¿Está seguro de eliminar el grupo?')"><i class="bi bi-trash3-fill"></i></a>`)
            })
        }

        $(document).ready(function () {
            table = new gridjs.Grid({
                columns: columns,
                className: {
                    th: "text-center"
                },
                language: gridjs.l10n.esES,
                sort: true,
                search: true,
                pagination: {
                    limit: 10
                },
                resizable: true,
                data: grupos,
            }).render(document.getElementById("tabla_grupos"));

            function getIdGrupo(id) {
                $("#id_curso_asignatura").val(id);
            }
        });
    </script>

{% endblock %}
