{% extends "base/base_template.html" %}
{% set active_page = "cursos" %}
{% block title %}Cursos{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h1 class="text-center">Cursos</h1>
    <a href="{{ url_for('curso_bp.add') }}" class="btn btn-primary btn-nuevo">Nuevo</a>
    <div id="tablaCursos" class="text-center"></div>

    {% include 'cursos/modal.html' %}

    <script>
        let cursos = JSON.parse('{{ cursos | default([])| tojson }}');



        function getId(id){
            $("#id_curso").val(id);
        }

        /*function modalYear() {
            const modalUpdateYear = new bootstrap.Modal(document.getElementById('year-modal'));
            modalUpdateYear.show();
        }*/
    </script>
{% endblock %}
