{% extends "base/base_template.html" %}
{% block title %}
    {% if form.nombre.data %}
        Modificar titulación - {{ form.nombre.data }}
    {% else %}
        Añadir titulación
    {% endif %}
{% endblock %}
{% block content %}
    {% if form.nombre.data %}
        <h1 class="text-center">Modificar titulación - {{ form.nombre.data }}</h1>
    {% else %}
        <h1 class="text-center">Añadir titulación</h1>
    {% endif %}
    <form action="" method="post" novalidate class="form-centro">
        {{ form.hidden_tag() }}
        <div class="mt-3 mb-3">
            {{ form.codigo.label(class_="col-sm-2") }}
            <div>
                {{ form.codigo(class_="form-control") }}
            </div>

            {% for error in form.codigo.errors %}
                <span class="msg-error">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="mt-3 mb-3">
            {{ form.nombre.label(class_="col-sm-2") }}
            <div>
                {{ form.nombre(class_="form-control") }}
            </div>

            {% for error in form.nombre.errors %}
                <span class="msg-error">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="mt-3 mb-3">
            {{ form.abreviatura.label }}
            <div>{{ form.abreviatura(class_="form-control") }}</div>
            {% for error in form.abreviatura.errors %}
                <span class="msg-error">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="mt-3 mb-3">
            {{ form.url.label }}
            <div>
                {{ form.url(class_="form-control") }}
            </div>
            {% for error in form.url.errors %}
                <span class="msg-error">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="mt-3 mb-3">
            {{ form.centro.label }}
            <div>
                {{ form.centro(class_="form-select") }}
            </div>
            {% for error in form.centro.errors %}
                <span class="msg-error">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="text-center mt-4">
            <a class="btn btn-secondary" href="{{ url_for('titulacion_bp.index') }}">Volver</a>
            {{ form.submit(class_="btn btn-primary") }}
        </div>
    </form>
{% endblock %}