{% extends "base/base_template.html" %}
{% set active_page = "titulaciones" %}
{% block title %}Titulaciones{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h1 class="text-center">Titulaciones</h1>
    <a href="{{ url_for('titulacion_bp.add_route') }}" class="btn btn-primary btn-nuevo-2">Nuevo</a>
    <div id="tablaTitulaciones" class="text-center"></div>
    <script>
        let titulaciones = JSON.parse('{{ titulaciones | default([]) | tojson }}');
        const hasModificationPermission = {{ can_modify | lower }};

        let columns = [
            {
                name: 'Id',
                hidden: true
            },
            {
                id: 'codigo',
                name: gridjs.html('<span title="Código">Código</span>'),
                attributes: center
            },
            {
                id: 'nombre',
                name: gridjs.html('<span title="Nombre">Nombre</span>'),
            },
            {
                id: "abreviatura",
                name: gridjs.html('<span title="Abreviatura">Abreviatura</span>'),
                attributes: center
            },
            {
                id: 'url',
                name: gridjs.html('<span title="URL">URL</span>'),
                sort: false,
                formatter: (_, row) => gridjs.html(`<a href='${row.cells[4].data}' class="enlace">Web</a>`),
                attributes: center
            },
            {
                id: 'centro',
                name: gridjs.html('<span title="Centro">Centro</span>'),
            },
        ];

        if (hasModificationPermission) {
            columns.push({
                name: 'Acciones',
                attributes: center,
                sort: false,
                formatter: (_, row) => gridjs.html(`<a class="icono" href="/titulaciones/titulacion/${row.cells[0].data}"><i class="bi bi-eye-fill"></i></a>
<a class="icono" href="/titulaciones/${row.cells[0].data}"><i class="bi bi-pencil-square"></i></a>
<a href="/titulaciones/eliminar/${row.cells[0].data}" class="icono" onclick="return confirm('¿Está seguro de eliminar la titulación? Se eliminarán sus asignaturas asociadas y todo lo que dependa de estas.')"><i class="bi bi-trash3-fill"></i></a>`)
            });
        } else {
            columns.push({
                name: 'Acciones',
                attributes: center,
                sort: false,
                formatter: (_, row) => gridjs.html(`<a class="icono" href="/titulaciones/titulacion/${row.cells[0].data}"><i class="bi bi-eye-fill"></i></a>`)
            });
        }

        $(document).ready(function () {
            new gridjs.Grid({
                columns: columns,
                className: {
                    th: "text-center"
                },
                width: "95%",
                language: gridjs.l10n.esES,
                sort: true,
                search: true,
                resizable: true,
                pagination: {
                    limit: 10
                },
                data: titulaciones
            }).render(document.getElementById("tablaTitulaciones"));
        });
    </script>
{% endblock %}

