{% extends "base/base_template.html" %}
{% set active_page = "titulaciones" %}
{% block title %}Titulaciones{% endblock %}

{% block content %}
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}" role="alert">
                    {{ message }}
                 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h1 class="text-center">Titulaciones</h1>
    <a href="{{ url_for('titulacion_bp.add_route') }}" class="btn btn-primary btn-nuevo-2">Nuevo</a>
    <div id="tablaTitulaciones" class="text-center"></div>
    <script>
        let titulaciones = JSON.parse('{{ titulaciones | default([]) | tojson }}');
    </script>
{% endblock %}

