{% extends "base/base_template.html" %}
{% set active_page = "areas" %}
{% block title %}Áreas{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h1 class="text-center">Áreas</h1>
    {% if has_modification_permission %}
        <a href="{{ url_for('area_bp.add_route') }}" class="btn btn-primary btn-nuevo">Nuevo</a>
    {% endif %}
    <div id="tablaAreas" class="text-center"></div>
    <script>
        let areas = JSON.parse('{{ areas | default([])| tojson }}');
        let hasModificationPermission = {{ has_modification_permission | lower }};

        const columns = [
            {
                name: 'Id',
                hidden: true
            },
            {
                id: 'nombre',
                name: gridjs.html('<span title="Nombre">Nombre</span>'),
            },
            {
                id: 'abreviatura',
                name: gridjs.html('<span title="Abreviatura">Abreviatura</span>'),
            },
            {
                id: 'departamento',
                name: gridjs.html('<span title="Departamento">Departamento</span>'),
            },
        ];

        if (hasModificationPermission) {
            columns.push({
                name: 'Acciones',
                sort: false,
                attributes: center,
                formatter: (_, row) => gridjs.html(`
                    <a class="icono" href="/areas/${row.cells[0].data}"><i class="bi bi-pencil-square"></i></a>
                    <a href="/areas/eliminar/${row.cells[0].data}" class="icono" onclick="return confirm('¿Está seguro de eliminar el área? Se eliminarán las plazas asociadas y todo lo que dependa de ellas.')"><i class="bi bi-trash3-fill"></i></a>
                `)
            });
        }

        $(document).ready(function () {
            new gridjs.Grid({
                columns: columns,
                language: gridjs.l10n.esES,
                sort: true,
                search: true,
                width: "70%",
                pagination: {
                    limit: 10
                },
                className: {
                    th: "text-center"
                },
                data: areas
            }).render(document.getElementById("tablaAreas"));
        });
    </script>
{% endblock %}
