<div class="modal fade" id="create-modal" tabindex="-1" aria-labelledby="create-modal-label"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="create-modal-label">Añadir grupo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{ url_for('grupo_bp.add_route') }}" novalidate>
                    {{ form.csrf_token }}
                    {{ form.id_curso_asignatura(value_=curso_asignatura.id) }}
                    <div class="form-group">
                        <div class="mt-3 mb-3">
                            {{ form.tipo.label }}
                            <div>
                                {{ form.tipo(class_="form-select") }}
                            </div>

                            {% for error in form.tipo.errors %}
                                <span class="msg-error">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        {{ form.submit(class='btn btn-primary') }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>