{% extends "base/base_template.html" %}
{% set active_page = "grupos" %}
{% block title %}Grupos{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="{{ category }}" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h1 class="text-center">Grupos</h1>
        <div class="mb-3">
            <div class="col-md-2"><label for="cursos"></label>
                <label for="cursos" class="form-label">Curso:</label>
                <select name="cursos" id="cursos" class="form-select">
                    <option value="0" selected>Seleccione un curso</option>
                    {% for curso in cursos %}
                        {% set ano_inicio = curso.ano_inicio | int %}
                        <option value="{{ curso.id }}">{{ curso.ano_inicio }} - {{ ano_inicio+1 }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div id="tablaGrupos" class="col-md-12"></div>
        </div>
    </div>

    {% include('cursos/form-ca.html') %}

    <script>
        let info = [];
        let table = null;

        if ($("#cursos").children().length > 1) {
            $("#cursos").children()[1].selected = true;
            $.ajax({
                url: "/grupos/cursos-asignaturas",
                method: "POST",
                data: {id: $("#cursos").children()[1].value},
                success: function (data) {
                    table.updateConfig({data: data}).forceRender();
                }
            });
        }

        if (document.getElementById('tablaGrupos') != null) {
            table = new gridjs.Grid({
                columns: [
                    {
                        name: 'Id',
                        hidden: true
                    },
                    {
                        name: 'num_grupos_teoricos_previstos',
                        hidden: true
                    },
                    {
                        name: 'num_grupos_practicos_previstos',
                        hidden: true
                    },
                    {
                        id: 'asignatura',
                        name: gridjs.html('<span title="Asignatura">Asignatura</span>'),
                    },
                    {
                        id: 'modalidad',
                        name: gridjs.html('<span title="Modalidad">Modalidad</span>'),
                    },
                    {
                        id: 'num_alumnos_previstos',
                        name: gridjs.html('<span title="Número de alumnos previstos">Nº Alumnos Previstos</span>'),
                        attributes: (cell) => {
                            if (cell != null) {
                                return {
                                    'data-cell-content': cell,
                                    'style': 'text-align: center!important;',
                                };
                            }
                        }
                    },
                    {
                        id: 'num_grupos_teoricos',
                        name: gridjs.html('<span title="Número de grupos teóricos">Nº Grupos Teóricos</span>'),
                        attributes: (cell) => {
                            if (cell != null) {
                                return {
                                    'data-cell-content': cell,
                                    'style': 'text-align: center!important;',
                                };
                            }
                        }
                    },
                    {
                        id: 'num_grupos_practicos',
                        name: gridjs.html('<span title="Número de grupos prácticos">Nº Grupos Prácticos</span>'),
                        attributes: (cell) => {
                            if (cell != null) {
                                return {
                                    'data-cell-content': cell,
                                    'style': 'text-align: center!important;',
                                };
                            }
                        }
                    },
                    {
                        name: 'Acciones',
                        sort: false,
                        attributes: {style: 'text-align: center!important;'},
                        formatter: (_, row) => gridjs.html(`<a class="icono" href="/cursos/gestion/${row.cells[0].data}" title="Gestionar grupos"><i class="bi bi-people-fill"></i></a>
                                                            <a class="icono" href="#" title="Modificar datos alumnos" data-bs-toggle="modal" data-bs-target="#ca-modal" data-ca="${row.cells[0].data}" data-na="${row.cells[5].data}" data-gt="${row.cells[1].data}" data-gp="${row.cells[2].data}" onclick="editForm(this)"><i class="bi bi-pencil-square"></i></a>
                                                            <a class="icono" href="/cursos/delete-ca/${row.cells[0].data}" title="Eliminar" onclick="return confirm('¿Está seguro de eliminar la asignatura del curso?')"><i class="bi bi-trash3-fill"></i></a>`),
                    },
                ],
                language: gridjs.l10n.esES,
                sort: true,
                search: true,
                pagination: {
                    limit: 10
                },
                resizable: true,
                data: [],
            }).render(document.getElementById("tablaGrupos"));
        }

        // Recojo los datos al pulsar el botón y los muestro en la ventana modal
        function editForm(btn) {
            let id = btn.dataset.ca;
            let n_a = btn.dataset.na;
            let gt = btn.dataset.gt;
            let gp = btn.dataset.gp;
            $('#ca-modal').find('form').attr('action', '/cursos/edit-ca/' + id);
            $('#ca-modal').find('#n_a_p').val(n_a);
            $('#ca-modal').find('#n_g_t').val(gt);
            $('#ca-modal').find('#n_g_p').val(gp);
        }

        $(document).ready(function () {
            $("#cursos").change(function () {
                let id = $(this).val();
                $.ajax({
                    url: "/grupos/cursos-asignaturas",
                    method: "POST",
                    data: {id: id},
                    success: function (data) {
                        table.updateConfig({data: data}).forceRender();
                    }
                });
            });
        });
    </script>
{% endblock %}
