{% extends "base/base_template.html" %}
{% set active_page = "horas" %}
{% block title %}Horas{% endblock %}

{% block content %}
    <h1 class="text-center">Horas</h1>
    <div class="mb-3">
        <div class="col-md-2"><label for="cursos"></label>
            <label for="cursos" class="form-label">Curso:</label>
            <select name="cursos" id="cursos" class="form-select">
                <option value="0" selected>Seleccione un curso</option>
                {% for curso in cursos %}
                    {% set ano_inicio = curso.ano_inicio | int %}
                    <option value="{{ curso.id }}">{{ curso.ano_inicio }} - {{ ano_inicio+1 }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div id="ajax-response"></div>
    <div id="tablaHoras" class="col-md-12"></div>

    <script>
        let table = null;
        let hasModificationPermission = {{ has_modification_permission | lower }};



        const editableCell1 = (data, row, col) => {
            if (row && data !== '-' && hasModificationPermission) {
                return {contentEditable: 'true', 'data-vacant-group-id': row.cells[6].data};
            } else {
                return {};
            }
        };

        const editableCell2 = (data, row, col) => {
            if (row && data !== '-' && hasModificationPermission) {
                return {contentEditable: 'true', 'data-vacant-group-id': row.cells[10].data};
            } else {
                return {};
            }
        };

        const editableCell3 = (data, row, col) => {
            if (row && data !== '-' && hasModificationPermission) {
                if (row.cells[14].data !== '...') {
                    return {contentEditable: 'true', 'data-vacant-group-id': row.cells[14].data};
                } else {
                    return {};
                }

            } else {
                return {};
            }
        };


        if (document.getElementById('tablaHoras') != null) {
            table = new gridjs.Grid({
                columns: [
                    {
                        id: 'group_id',
                        hidden: true,
                    },

                    {
                        id: 'degree',
                        name: gridjs.html('<span title="Titulación">Titulación</span>'),
                    },
                    {
                        id: 'subject_name',
                        name: gridjs.html('<span title="Asignatura">Asignatura</span>'),
                    },
                    {
                        id: 'group_name',
                        name: gridjs.html('<span title="Grupo">Grupo</span>'),
                    },
                    {
                        id: 'semester',
                        name: gridjs.html('<span title="Semestre">Semestre</span>'),
                    },
                    {
                        id: 'teacher_1',
                        name: gridjs.html('<span title="Plaza/Vacante">Plaza/<br>Vacante</span>'),
                    },
                    {
                        id: 'vacant_group_id_1',
                        hidden: true,
                    },
                    {
                        id: 'hours_1',
                        name: gridjs.html('<span title="Horas">Horas</span>'),
                        'attributes': editableCell1
                    },
                    {
                        id: 'total_hours_1',
                        name: gridjs.html('<span title="Porcentaje de horas impartidas"> % horas<br> impartidas</span>'),
                    },
                    {
                        id: 'teacher_2',
                        name: gridjs.html('<span title="Plaza/Vacante">Plaza/<br>Vacante</span>'),
                    },
                    {
                        id: 'vacant_group_id_2',
                        hidden: true,
                    },
                    {
                        id: 'hours_2',
                        name: gridjs.html('<span title="Horas">Horas</span>'),
                        'attributes': editableCell2
                    },
                    {
                        id: 'total_hours_2',
                        name: gridjs.html('<span title="Porcentaje de horas impartidas"> % horas<br> impartidas</span>'),
                    },
                    {
                        id: 'teacher_3',
                        name: gridjs.html('<span title="Plaza/Vacante">Plaza/<br>Vacante</span>'),
                    },
                    {
                        id: 'vacant_group_id_3',
                        hidden: true,
                    },
                    {
                        id: 'hours_3',
                        name: gridjs.html('<span title="Horas">Horas</span>'),
                        'attributes': editableCell3
                    },
                    {
                        id: 'total_hours_3',
                        name: gridjs.html('<span title="Porcentaje de horas impartidas"> % horas<br> impartidas</span>'),
                    },
                    {
                        name: 'Acciones',
                        attributes: center,
                        sort: false,
                        formatter: (_, row) => gridjs.html(`<a class="icono" href="/horas/grupo/${row.cells[0].data}" title="Editar asignaciones"><i class="bi bi-clock-fill"></i></a>`),
                    },
                ],
                language: gridjs.l10n.esES,
                sort: true,
                search: true,
                resizable: true,
                pagination: {
                    limit: 10
                },
                data: [],
            }).render(document.getElementById("tablaHoras"));

            if ($("#cursos").children().length > 1) {
                $("#cursos").children()[1].selected = true;
                $.ajax({
                    url: "/grupos/horas",
                    method: "POST",
                    data: {id: $("#cursos").children()[1].value},
                    success: function (data) {
                        table.updateConfig({data: data}).forceRender();
                    }
                });
            }

            $(document).ready(function () {
                $("#cursos").change(function () {
                    let id = $(this).val();
                    $.ajax({
                        url: "/grupos/horas",
                        method: "POST",
                        data: {id: id},
                        success: function (data) {
                            table.updateConfig({data: data}).forceRender();
                        }
                    });
                });

                let valueHours;

                // Cambios mediante AJAX de las horas
                const hoursTable = document.getElementById('tablaHoras');
                hoursTable.addEventListener('focusin', ev => {
                    if (ev.target.tagName === 'TD' && ev.target.textContent !== '-') {
                        valueHours = ev.target.textContent;
                    }
                });

                hoursTable.addEventListener('input', ev => {
                    if (ev.target.tagName === 'TD') {
                        ev.target.textContent = ev.target.textContent.replace(/\D/g, '');
                    }
                });

                hoursTable.addEventListener('keydown', ev => {
                    if (ev.target.tagName === 'TD') {
                        if (ev.key === 'Escape') {
                            ev.target.textContent = valueHours;
                            ev.target.blur();
                        } else if (ev.key === 'Enter') {
                            ev.preventDefault();
                            ev.target.blur();
                        }
                    }
                });

                hoursTable.addEventListener('focusout', ev => {
                    if (ev.target.tagName === 'TD' && ev.target.textContent !== '-') {
                        if (valueHours !== ev.target.textContent) {
                            if (parseInt(ev.target.textContent) > 0) {
                                hours = ev.target.textContent;
                                vacant_group_id = ev.target.dataset.vacantGroupId;
                                $.ajax({
                                    url: "/horas/asignar-horas-ajax",
                                    method: "POST",
                                    data: {hours: hours, vacant_group_id: vacant_group_id},
                                    dataType: "json",
                                    success: function (data) {
                                        {#table.updateConfig({data: data.info}).forceRender();#}
                                        $("#ajax-response").html("<div id='alert-message' class='alert alert-success alert-dismissible fade show'>" + data.message + "<button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button></div>");
                                        setTimeout(function () {
                                            $("#alert-message").alert('close');
                                        }, 1000);
                                    },
                                    error: function (xhr, status, error) {
                                        var errorMessage = xhr.responseJSON && xhr.responseJSON.error ? xhr.responseJSON.error : "Error en la solicitud";
                                        $("#ajax-response").html("<div id='alert-message' class='alert alert-danger alert-dismissible fade show'>" + errorMessage + "<button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button></div>");
                                        setTimeout(function () {
                                            $("#alert-message").alert('close');
                                        }, 1000);
                                    }
                                });
                            }
                        }
                    }
                });
            });
        }

    </script>
{% endblock %}
