{% extends "base/base_template.html" %}
{% block title %}
    Horas: Grupo {{ grupo.nombre }} - {{ grupo.curso_asignatura.asignatura.nombre }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="{{ category }}" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="row">
            <div class="col-4">
                <h2 class="text-center h2-view">{{ grupo.curso_asignatura.asignatura.nombre }}</h2>
            </div>
            <div class="col-4">
                <h1 class="text-center">Horas - Grupo {{ grupo.nombre }}</h1>
            </div>
            <div class="col-4">
                <h2 class="text-center h2-view">{{ grupo.curso_asignatura.asignatura.titulacion.nombre }}</h2>
            </div>
        </div>

        <a href="" class="btn btn-primary btn-nuevo" data-bs-toggle="modal" data-bs-target="#vacant-modal"
           onclick="editForm()">Añadir
            plaza</a>
        <div class="row">
            <div id="groupVacantTable" class="col-md-12 text-center"></div>
        </div>
    </div>
    {% include 'horas/form.html' %}
    {% include 'horas/form-update.html' %}

    <script>
        let table = null;
        let plazas = JSON.parse('{{ plazas | default([])| tojson }}');

        function editForm() {
            $('#group_id').attr('value', {{ grupo.id }});
        }

        function editFormUpdate(btn) {
            let id = btn.dataset.id;
            let hours = btn.dataset.hours;

            $('#vacant-update-modal').find('#vacant_group_id').val(id);
            $('#vacant-update-modal').find('#hours').val(hours);
        }

        const center = (data, row, col) => {
            if (row) {
                return {class: 'gridjs-td text-center'};
            } else {
                return {};
            }
        };

        table = new gridjs.Grid({
            columns: [
                {id: 'group_id', hidden: true},
                {id: 'vacant_id', hidden: true},
                {id: 'id', hidden: true},
                {
                    id: 'teacher',
                    name: gridjs.html('<span title="Plaza/Docente">Plaza/Docente</span>'),
                },
                {
                    id: 'hours',
                    name: gridjs.html('<span title="Horas anuales">Horas anuales</span>'),
                    attributes: center
                },
                {
                    id: 'hours_in_other_groups',
                    name: gridjs.html('<span title="Horas anuales en otros grupos">Horas anuales en otros grupos</span>'),
                    attributes: center
                },
                {
                    id: 'credits_in_other_groups',
                    name: gridjs.html('<span title="Créditos en otros grupos">ECTS en otros grupos</span>'),
                    attributes: center
                },
                {
                    id: 'annual_capacity',
                    name: gridjs.html('<span title="Capacidad anual en horas">Capacidad anual (horas)</span>'),
                    attributes: center
                },
                {
                    name: 'Acciones', formatter: (cell, row) => gridjs.html(`
                    <a href="#" class="icono" data-bs-toggle="modal" data-bs-target="#vacant-update-modal" data-id="${row.cells[2].data}" data-hours="${row.cells[4].data}" onclick="editFormUpdate(this)"><i class="bi bi-pencil-square"></i></a>
                    <a href="/horas/eliminar/${row.cells[2].data}" class="icono" onclick="return confirm('¿Está seguro de eliminar la asignación de la plaza al grupo?')"><i class="bi bi-trash3-fill"></i></a>
                `),
                    sort: false,
                    attributes: center,
                }
            ],
            language: gridjs.l10n.esES,
            sort: true,
            search: true,
            pagination: {
                enabled: true,
                limit: 10
            },
            width: '70%',
            data: plazas
        }).render(document.getElementById("groupVacantTable"));

        $(document).ready(function () {

            $('#vacant').select2({
                locale: 'es',
                placeholder: 'Buscar plaza...',
                minimumInputLength: 3,
                dropdownParent: $('#vacant-modal'),
                ajax: {
                    url: '/plazas/ajax/get_plazas',
                    dataType: 'json',
                    data: function (params) {
                        return {
                            text: params.term
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data
                        };
                    },
                    cache: true
                }
            });
        });

    </script>
{% endblock %}