{% extends "base/base_template.html" %}
{% set active_page = "contratos" %}
{% block title %}Contratos{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="container-fluid">
        <h1 class="text-center mb-5">Tipos de contrato</h1>
        {% if can_modify %}
            <div class="row">
                <div class="col-lg-9 offset-lg-3">
                    <a href="{{ url_for('contrato_bp.add_route') }}" class="btn btn-primary">Nuevo</a>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div id="tablaContratos" class="text-center col-lg-6 offset-lg-3"></div>
        </div>
    </div>
    <script>
        let contratos = JSON.parse('{{ tipos_contrato | default([]) | tojson }}');
        const hasModificationPermission = {{ can_modify | lower }};

        columns = [
            {
                name: 'Id',
                hidden: true
            },
            {
                id: 'nombre',
                name: gridjs.html('<span title="Nombre">Nombre</span>'),
            },
            {
                id: 'abreviatura',
                name: gridjs.html('<span title="Abreviatura">Abreviatura</span>'),
                attributes: center
            },
            {
                id: 'capacidad_anual',
                name: gridjs.html('<span title="Capacidad anual (horas)">Capacidad anual (horas)</span>'),
                attributes: center
            },

        ]

        if (hasModificationPermission) {
            columns.push({
                name: 'Acciones',
                sort: false,
                attributes: center,
                formatter: (_, row) => gridjs.html(`<a class="icono" href="/contratos/${row.cells[0].data}"><i class="bi bi-pencil-square"></i></a> <a href="/contratos/eliminar/${row.cells[0].data}" class="icono" onclick="return confirm('¿Está seguro de eliminar el tipo de contrato? Se eliminarán las plazas asociadas y todo lo que dependa de ellas.')"><i class="bi bi-trash3-fill"></i></a>`)
            })
        }


        if (document.getElementById('tablaContratos') != null) {
            new gridjs.Grid({
                columns: columns,
                language: gridjs.l10n.esES,
                sort: true,
                search: true,
                resizable: true,
                pagination: {
                    limit: 10
                },
                className: {
                    th: "text-center"
                },
                data: contratos
            }).render(document.getElementById("tablaContratos"));
        }

    </script>
{% endblock %}
