{% extends "base/base_template.html" %}
{% set active_page = "departamentos" %}
{% block title %}Departamentos{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="container-fluid">
        <h1 class="text-center">Departamentos</h1>
        {% if can_modify %}
            <div class="row">
                <div class="col-lg-10 offset-lg-2">
                    <a href="{{ url_for('departamento_bp.add_route') }}" class="btn btn-primary">Nuevo</a>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div id="tablaDepartamentos" class="text-center col-lg-8 offset-lg-2"></div>
        </div>
    </div>
    <script>
        let departamentos = JSON.parse('{{ departamentos | default([])| tojson }}');
        const hasModificationPermission = {{ can_modify | lower }};



        columns = [
            {
                name: 'Id',
                hidden: true
            },
            {
                id: 'nombre',
                name: gridjs.html('<span title="Nombre">Nombre</span>'),
            },
            {
                id: 'abreviatura',
                name: gridjs.html('<span title="Abreviatura">Abreviatura</span>'),
                attributes: center
            },
        ];

        if (hasModificationPermission) {
            columns.push({
                name: 'Acciones',
                sort: false,
                attributes: center,
                formatter: (_, row) => gridjs.html(`<a class="icono" href="/departamentos/${row.cells[0].data}"><i class="bi bi-pencil-square"></i></a> <a href="/departamentos/eliminar/${row.cells[0].data}" class="icono" onclick="return confirm('¿Está seguro de eliminar el departamento? Se eliminarán sus áreas y todo lo relacionado con ellas.')"><i class="bi bi-trash3-fill"></i></a>`)
            });
        }

        $(document).ready(function () {
            new gridjs.Grid({
                columns: columns,
                language: gridjs.l10n.esES,
                sort: true,
                search: true,
                resizable: true,
                pagination: {
                    limit: 10
                },
                className: {
                    th: "text-center"
                },
                data: departamentos
            }).render(document.getElementById("tablaDepartamentos"));
        });
    </script>
{% endblock %}
