:root {
    --ubu-main-color: #aa223c;
}


.contenido {
    padding: 10px;
}

body {
    font-family: Helvetica Neue, sans-serif;
    font-size: 1rem;
}

/* ---------------------- Títulos ---------------------- */
h1.text-center {
    position: relative;
    padding-bottom: 1rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 4px
}

h1.text-center:after {
    position: absolute;
    content: "";
    border-bottom: 4px solid var(--ubu-main-color);
    display: block;
    width: 20px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%)
}


/* ---------------------- Botones ---------------------- */
.btn {
    border-radius: 0 !important;
    text-transform: uppercase;
    font-size: .8em;
}


.btn-primary {
    background-color: var(--ubu-main-color) !important;
    border-color: var(--ubu-main-color) !important;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.1rem rgba(255, 12, 12, 0.5) !important;
}

.btn-primary:hover {
    background-color: #490f1b !important;
    border-color: #490f1b !important;
}

.icono {
    color: var(--ubu-main-color);
}

.icono:hover {
    color: #490f1b;
}

.btn-nuevo {
    margin-left: 15%;
}

.btn-nuevo-grupo {
    margin-left: 25%;
}

.btn-nuevo-2 {
    margin-left: 2.6%;
}

.icon-lt {
    font-size: 1rem;
}

/* ---------------------- Menú ---------------------- */
.dropdown-item.active, .dropdown-item:active {
    background-color: var(--ubu-main-color) !important;
    color: white !important;
}

#navbarSupportedContent > ul > li > a {
    line-height: 60px;
}

.navbar {
    padding: 0 1rem !important;
}

/* ---------------------- Enlaces ---------------------- */
.enlace {
    color: var(--ubu-main-color) !important;
}

a.nav-link:hover, a.nav-link.active {
    color: white !important;
    background-color: var(--ubu-main-color);
}

a.show {
    background-color: var(--ubu-main-color);
    color: white !important;
}

a#icn-info-grupos{
    color: var(--ubu-main-color);
}

a#icn-info-grupos:hover{
    color: #490f1b !important;
}

/* ---------------------- Formularios ---------------------- */
.form-centro {
    width: 50%;
    display: block;
    margin: 0 auto;
}

.form-curso {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.msg-error {
    color: #b30000;
}

.select2 {
    width: 100% !important;
}

.seccion-grupos {
    border: 1px solid #16161652;
    padding: 2%;
    border-radius: 10px;
    margin-bottom: 3%;
}

.info {
    margin: 0.25rem;
    padding: 0.5rem;
    background-color: #baffff;
    border-radius: 0.25rem;
    font-size: 0.85rem;
}

.col-centered {
    margin: 0 auto;
    float: none;
}

#container1, #container2 {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 49%;
    min-height: 100px;
    max-height: 500px;
    overflow-y: scroll;
    padding: 5px;
    background-color: hsl(223.08deg 25.14% 92.47% / 59%);
}

#container1 {
    margin-right: 1%;
}

.el-list-asignaturas {
    padding: 5px;
    margin: 0.125rem;
    cursor: move;
    border-radius: 6px;
}

#container-asignaturas {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2%;
}